In [62]:
import pandas as pd

In [63]:
df1 = pd.read_csv("data/old_file_used_car_cleaned.csv")
df2 = pd.read_csv("data/old_file_UsedCarsSA_Clean_EN.csv")

In [64]:
df1.head(1)

  car_brand car_model  car_driven car_transmission  car_model_year  car_price
0   Hyundai    Tucson     83491.0        Automatic            2018    64000.0

In [65]:
df2.head(1)

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Mileage,Region,Price,Negotiable
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,103000,Riyadh,114000,False

In [66]:
df1_copy = df1.copy()

In [73]:
df1_copy.rename(columns={"car_brand":"brand", "car_model":"model", "car_driven":"driven", "car_transmission":"gear", "car_model_year":"year", "car_price":"price"}, inplace=True)

In [74]:
df2_copy = df2.copy()
df2_copy.rename(columns={"Make":"brand", "Type":"model", "Mileage":"driven", "Gear_Type":"gear", "Year":"year", "Price":"price"}, inplace=True)
df2_copy = df2_copy.iloc[:, [0,1,9,8,2,11]]

In [75]:
used_cars = pd.concat([df1_copy, df2_copy])

In [70]:
used_cars.to_csv("data/used_cars.csv", index=False)

In [71]:
used_cars.head(1)

     brand   model   driven       gear  year    price
0  Hyundai  Tucson  83491.0  Automatic  2018  64000.0

In [72]:
used_cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10322 entries, 0 to 8034
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   brand   10322 non-null  object
 1   model   10322 non-null  object
 2   driven  10322 non-null  float64
 3   gear    10322 non-null  object
 4   year    10322 non-null  int64
 5   price   10322 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 564.5+ KB